
@using JanuszMail.Models;
@model PagedList.Core.IPagedList<MailHeader>
    <h3>@ViewBag.Folder</h3>
    <hr/>
    @if(Model.Count == 0) {
        <h3>No mails to display</h3>
    }
    else{
    <button class="async-reload-folder btn btn-primary" folder-name="@ViewBag.Folder"><strong>Refresh</strong><span class="fa fa-fw"/><span class="fa fa-refresh"></span></button>
    <table class="table table-striped table-hover panel panel-default">
        <tr class="row">
            <th class="col-md-1 col-sm-1 col-lg-1">
            </th>
            <th class="col-md-7 col-sm-7 col-lg-7">
                 <a class="btn-block allow-partial" asp-area="" asp-controller="Mailbox" asp-action="ShowMails"
                    asp-route-page="@Model.PageNumber"
                    asp-route-pageSize="@Model.PageSize"
                    asp-route-folder="@ViewBag.Folder"
                    asp-route-sortOrder="@ViewBag.SubjectSortParam"
                    >
                    @Html.DisplayNameFor(model => model[0].Subject)
                </a>
            </th>
            <th class="col-md-2 col-sm-2 col-lg-2">
                 <a class="btn-block allow-partial" asp-area="" asp-controller="Mailbox" asp-action="ShowMails"
                    asp-route-page="@Model.PageNumber"
                    asp-route-pageSize="@Model.PageSize"
                    asp-route-folder="@ViewBag.Folder"
                    asp-route-sortOrder="@ViewBag.SenderSortParam"
                    >
                    Sender
                </a>
            </th>
            <th class="col-md-2 col-sm-2 col-lg-2">
                 <a class="btn-block allow-partial" asp-area="" asp-controller="Mailbox" asp-action="ShowMails"
                    asp-route-page="@Model.PageNumber"
                    asp-route-pageSize="@Model.PageSize"
                    asp-route-folder="@ViewBag.Folder"
                    asp-route-sortOrder="@ViewBag.DateSortParam"
                    >
                    @Html.DisplayNameFor(model => model[0].Date.Date)
                </a>
            </th>
        </tr>
@foreach (var item in Model) {
        <tr class="row">
            <td>
                @await Component.InvokeAsync("MailManagement", new {isMailRead=@item.IsRead, mailId=@item.ID, folder=@ViewData["Folder"]})
            </td>
            <td>
                 <a class="btn-block allow-partial" asp-area="" asp-controller="Mailbox" asp-action="Details" asp-route-id="@item.ID" asp-route-folder="@ViewData["Folder"]">
                    @if(item.Subject.Length == 0) {<text>(No title)</text>} 
                    @Html.DisplayFor(modelItem => item.Subject)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
}
     </table>
@Html.Partial("_Pager")
<script src="~/js/Mailbox/show-mails.js"/>
}
