@using JanuszMail.Models;
@model Mail
<div>
    <h4>Mail details</h4>
    <hr />
    @{
        ViewData["Id"]=Model.ID.Id;
        ViewData["ReplyTo"]=Model.SenderEmail;
    }
    @await Component.InvokeAsync("MailFolders", new {viewName="DetailUtils"})

    <hr />
    <dl class="dl-horizontal container body-content-left">
        <dt>
            From
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderName)
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(Model.Body)
                </div>
            </div>
        </dd>
        @foreach(var attachment in Model.Attachments) {
            <table class="table">
                <tr>
                    <td>
                        @Html.DisplayFor(fileName => attachment)
                        <a asp-controller="MailBox" asp-action="DownloadAttachment" asp-route-id="@Model.ID" asp-route-fileName="@attachment" asp-route-folder="@Model.Folder">Download</a>
                    </td>
                </tr>
            </table>
        }
    </dl>
</div>
